
<!DOCTYPE html>
<html>
    <head>
        <title>Create a survey</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
		<div id="wrapper">
            <div id="yourdiv">
                <title>Survey Created</title>
                <h1>Survey successfully created</h1>
                <a href="/survey_list">
                    <p>View all surveys and shareable links</p>
                </a>
                <a href="/dashboard">Return to dashboard</a>
			</div>
		</div>
    </body>
</html>
