<!DOCTYPE html>
<html>
    <head>
        <title>Survey closed</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
		<div id="wrapper">
            <div id="yourdiv">
                <h1>Survey successfully closed</h1>
                <p>The survey can no longer be completed</p>
                <p>
                    <a href="/dashboard">Return to dashboard</a>
                </p>
                <br><br>
			</div>
		</div>
    </body>
</html>
